---
name: Snyk Container Scan

on:
  workflow_dispatch: # Allows manual execution
  schedule:
    - cron: "0 0 1 * *" # Runs on the 1st of every month

jobs:
  snyk:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job
    permissions:
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Snyk vulnerability scan
        continue-on-error: true
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ghcr.io/${{ github.actor }}/caddy-docker-proxy-cloudflare:latest
          args: --file=Dockerfile
      - name: Upload Snyk vulnerability scan results to GitHub Code Scanning
        continue-on-error: true
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: snyk.sarif
